@import "tailwindcss";


    @theme {
      /* Define your custom colors here */
      --color-secondary: #1f1f1f;
      --color-primary: #c9f31d ;
      --font-poppins: var(--font-poppins)

      
    }



body{
  background-color: #131313;
  font-family: monospace;
    overflow-x: hidden;

}

/* Rotating Button Animations */

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.7s ease-in-out;
}
